.divPost {
    margin: auto;
    max-width: 1200px;
    background-color: #fff;
    margin-top: 30px;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #888
}

.divAutor {
    padding-bottom: 20px;
}

.imgUsuario {
    max-width: 80px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.divTitulo {
    padding: 20px 0;
}

.divTexto {
    padding: 20px 0;
}